*{
    box-sizing: border-box;
}

body{
margin:0;
overflow-x:hidden ;
}

h1{
text-align: center;
font-size: 48px;
color: brown;
text-shadow: 1px 1px 4px;
}

.box{
    width:  70vh;
    height: 70vh;
    margin: 50px auto;
    background-repeat:no-repeat;
    background-position: center;
    border-radius: 40px;
    cursor: pointer;
    flex:0.5;
    transition: transform 0.7s ease;
    transform: translateX(400%);
    box-shadow: 4px 5px 8px rgb(0,0,0, 0.5);
}

.box:nth-of-type(even){
    transform: translateX(-400%);

}
.box.show{
    transform: translateX(0);
}